@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
}
@font-face {
    font-family: OpenSans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
}

body {
    font-size: 18px;
    font-family: OpenSans;
    font-weight: 400;
}
h1,h2{
    font-family: Poppins;
    font-weight: 600;
}
header,
main {
    background-color: hsl(193, 100%, 96%);
    background-image:url(./images/bg-hero-desktop.svg);
}

.initial {
    display: flex;
    justify-content: space-between;
}

.initial1 {
    display: flex;
    justify-content: space-between;
}

.initial_img {
    margin-top: 35px;
    margin-left: 50px;
}

#btn1 {
    margin-top: 35px;
    margin-right: 100px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    border-radius: 25px;
    padding: 5px 40px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

#btn2 {
    margin-top: 10px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border-radius: 25px;
    padding: 10px 40px;
    border-style: none;
    cursor: pointer;
}

.initial1_content {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    padding: 70px;
}

.initial1_content>p {
    width: 500px;
}

.initial1_img {
    margin-top: 100px;
    margin-right: 100px;
}

#illustration-mockups {
    width: 650px;
}

.initial2 {
    display: flex;
    flex-direction: column;
}

.initial2_flex {
    display: flex;
    justify-content: center;
    border-style: none;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-right: 75px;
    margin-left: 75px;
}

#illustration-grow-together {
    width: 450px;
    margin: 20px;
    padding: 40px;
}
.initial2_flex_1 {
    display: block;
    text-align: left;
    margin: 75px 100px;
    padding: 75px 20px;
}
.initial3 {
    text-align: center;
}
.initial4{
    background: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
}
.initial4_flex {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;
}
.initial4_flex_ul_list {
    list-style-type: none;
    width: 250px;
}
.initial4_flex_ul > li {
    padding: 10px;
}
#socialicon {
    width: 25px;
}
.initial4_flex_ul_social {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 6px;
}
#para {
    text-align: right;
}